#app {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    background: $clr-primary;
}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.sign {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 1rem;
    z-index: -1;
    &.work {
        right: calc(100% - 1rem);
        top: 2rem;
        transform: rotate(-30deg);
    }
    &.break {
        left: 100%;
        top: 2rem;
        transform: rotate(30deg);
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
}
